{% extends 'base.html' %}


{% block head %} 
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<title>Report</title>
<style>
    .center {
                font-size: 60%;
              margin: auto;
              width: 90%;
              padding: 0px;
            }
</style>
{%endblock%}


{% block body %}
<div class="center">
<div class="container">

    <table class="table table-striped" >
        <thead>
            <tr>
              <th>TrackID</th>
              <th>Product</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for rows in rows %}
              <td>  {{ rows[0] }}</td> 
              <td>  {{ rows[1] }}</td> 
              <td>  {{ rows[2] }}</td> 
              <td>  {{ rows[3] }}</td> 
              <td>  {{ rows[4] }}</td> 

            </tr>
            {% endfor%}
        </tbody>
        </table>
    </div>
    </div>
    {%endblock%} 










